.bottomNavi_wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 101;
}

.bottomNavi_tabIcon {
    font-size: .22rem;
}

.icon_selected {
    color: #108ee9
}

.center_publish_wrapper {
    position: fixed;
    left: 50%;
    margin-left: -.305rem;
    bottom: .1rem;
    z-index: 102;
}

.center_publish_word {
    color: #888;
    font-size: .12rem;
    text-align: center;

}

.center_publish_icon_wrapper {
    padding: .1rem;
    border-top: .01rem #f5f5f9 solid;
    background-color: #fff;
    border-radius: .25rem;
}

.center_publish_icon {
    font-size: .35rem;
    color: #888;
}

.center_publish_icon_jiahao {
    color: #108ee9;
}

.model_item {
    text-align: center;
    margin-left: -.2rem;
}

.modal_icon {
    margin-right: .1rem;
}