.houselist_header_wrapper {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

.houselist_header_icon_wrapper {
    margin-left: .05rem;
    position: absolute;
}

.houselist_header_icon {
    height: .35rem;
    line-height: .35rem;
    font-size: .25rem;
}

.houselist_header_title {
    height: .35rem;
    line-height: .35rem;
    font-size: .18rem;
    font-weight: bolder;
    text-align: center;
}

.houselist_header_unshelf {
    height: .35rem;
    line-height: .35rem;
    font-size: .16rem;
    color: #108ee9;
    position: absolute;
    right: 0;
    margin-right: .05rem;
}

.houselist_list_wrapper {
    margin-top: .35rem;
}

.houselist_item_content {
    padding-bottom: 23%;
    background-color: #fff;
    border-bottom: #f5f5f9 .01rem solid;
}

.houselist_item_footer {
    padding-bottom: 3%;
    background-color: #fff;
}

.houselist_item_mainImg_wrapper {
    float: left;
    width: .75rem;
    height: .75rem;
    border-radius: .05rem;
    background-color: #888;
}

.houselist_item_mainImg {
    width: .75rem !important;
    height: .75rem !important;
    border-radius: .05rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.houselist_item_info_wrapper {
    float: left;
    width: .8rem;
    height: .75rem;
    margin-left: .15rem;
}

.houselist_item_info_title {
    font-size: .18rem;
    font-weight: bolder;
}

.houselist_item_info_price {
    margin-top: .05rem;
    color: red;
}

.houselist_item_info_count {
    margin-top: .05rem;
    color: #888;
    font-size: .12rem;
}

.houselist_item_footer_publishTime {
    margin-top: .05rem;
    float: left;
    font-size: .14rem;
    color: #888;
}

.houselist_item_footer_operationWrapper {
    margin-top: .05rem;
    float: right;
    margin-right: .15rem;
}

.houselist_item_footer_operation {
    float: left;
    margin-left: .15rem;
    font-size: .15rem;
    width: .5rem;
    border: #f5f5f9 .01rem solid;
    border-radius: .05rem;
    color: #888;
    text-align: center;
}

.houselist_empty_wrapper {
    background-color: #fff;
    padding-bottom: 60%;
    padding-top: 30%;
}

.houselist_empty_icon_wrapper {
    text-align: center;
    margin-bottom: .15rem;
}

.houselist_empty_icon {
    font-size: .5rem;
}

.houselist_empty_words {
    font-size: .2rem;
    text-align: center;
}