.accountloginwrapper {
    padding: 0 .15rem;
}

.acountloginheader {
    height: .44rem;
    line-height: .44rem;
}

.login_by_account_header_register {
    float: right;
    font-size: .15rem;
    color: #108ee9;
}

.accountlogintitle {
    text-align: center;
    font-size: .27rem;
    line-height: .9rem;
}

.accountloginicon {
    font-size: .24rem;
}

.passwordeye {
    font-size: .24rem;
}

.accountloginbutton {
    margin-top: .22rem
}