.orderCard_wrapper {
    margin-top: .15rem;
}

.orderCard_main_wrapper {
    overflow: hidden;
}

.orderCard_mainImg_wrapper {
    float: left;
    width: 1rem;
    height: .75rem;
    border-radius: .05rem;
    background-color: #888;
}

.orderCard_mainImg {
    width: 1rem !important;
    height: .75rem !important;
    border-radius: .05rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.orderCard_info_wrapper {
    float: left;
    margin-left: .15rem;
}

.orderCard_info_title {
    font-size: .18rem;
    font-weight: bolder;
    text-overflow: ellipsis;
}

.orderCard_bottom_wrapper {
    overflow: hidden;
}

.orderCard_publishtime {
    float: left;
}

.orderCard_operate_wrapper {
    float: right;
    overflow: hidden;
}

.orderCard_operate_cancel {
    float: right;
    margin-right: .05rem;
    font-size: .15rem;
    padding: .03rem .08rem;
    border: #888 .01rem solid;
    border-radius: .05rem;
    text-align: center;
}

.orderCard_operate_confirm {
    float: right;
    margin-right: .15rem;
    font-size: .15rem;
    padding: .03rem .08rem;
    border-radius: .05rem;
    text-align: center;
    color: #fff;
    background-color: #108ee9;
}

.orderCard_operate_delete {
    float: right;
    margin-right: .15rem;
    font-size: .15rem;
    padding: .03rem .08rem;
    border-radius: .05rem;
    text-align: center;
    border: #888 .01rem solid;
}

.orderCard_comment_wrapper {
    overflow: hidden;
}

.orderCard_comment_title {
    float: left;
}

.orderCard_comment_star {
    float: left;
    margin-left: .15rem;
}

.orderCard_comment_text {
    color: #888;
    font-size: .14rem;
}

.orderCard_star_icon {
    font-size: .16rem;
    color: gold;
    margin-left: .02rem;
}