.orderCard_main_wrapper {
    overflow: hidden;
}

.orderCard_mainImg_wrapper {
    float: left;
    width: 1rem;
    height: .75rem;
    border-radius: .05rem;
    background-color: #888;
}

.orderCard_mainImg {
    width: 1rem !important;
    height: .75rem !important;
    border-radius: .05rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.orderCard_info_wrapper {
    float: left;
    margin-left: .15rem;
}

.orderCard_info_title {
    font-size: .18rem;
    font-weight: bolder;
    text-overflow: ellipsis;
}