.house_card_wrapper {
    margin-bottom: .15rem;
}

.house_card_main {
    overflow: hidden;
}

.house_card_mainImg_wrapper {
    margin-left: .1rem;
    float: left;
    width: 1.2rem;
    height: .9rem;
    border-radius: .02rem;
    background-color: #888;
}

.house_card_mainImg {
    width: 1.2rem !important;
    height: .9rem !important;
    border-radius: .02rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.house_card_info_wrapper {
    float: left;
    margin-left: .2rem;
}

.house_card_info_title {
    font-size: .18rem;
    font-weight: bolder;
    text-overflow: ellipsis;
}

.house_card_info_layoutArea {
    margin-top: .05rem;
    font-size: .14rem;
    color: #888;
}

.house_card_info_layoutArea_sup {
    font-size: .1rem;
}

.house_card_info_price_wrapper {
    margin-top: .05rem;
    overflow: hidden;
}

.house_card_info_price {
    color: red;
    float: left;
}


.house_card_info_price_avergePrice {
    height: .14rem;
    line-height: .14rem;
    position: relative;
    top: 50%;
    margin-top: .07rem;
    float: left;
    font-size: .14rem;
    color: #888;
    margin-left: .15rem;
}

.house_card_footer_wrapper {
    overflow: hidden;
    font-size: .14rem;
    color: #888;
}

.house_card_footer_publishTime {
    float: left;
}

.house_card_footer_right {
    float: right;
}