.communitySelect_header_wrapper {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: .1rem;
    position: fixed;
    top:0;
    z-index: 1001;
    width: 100%;
    border-bottom: #F8F8FF solid .01rem;
}

.communitySelect_header_main {
    background-color: #efeff4;
    padding: 0 .1rem;
    border-radius: .1rem;
}

.communitySelect_header_city {
    float: left;
    height: .3rem;
    line-height: .3rem;
    margin-top: .05rem;
    background-color: #efeff4;
    width: .7rem;
    margin-left: .05rem;
    font-weight: bolder;
}

.communitySelect_header_search {
    float: left;
}

.communitySelect_header_city_icon {
    font-size: .12rem;
    color: #888;
    margin-left: .05rem;
}

.communitySelect_result_wrapper {
    margin-top: .67rem;
}