.communitySelect_header_wrapper {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: .1rem;
}

.communitySelect_header_main {
    background-color: #efeff4;
    padding: 0 .1rem;
    border-radius: .1rem;
}

.communitySelect_header_city {
    height: .5rem;
    line-height: .5rem;
    background-color: #efeff4;
    width: .7rem;
    margin-left: .1rem;
    font-weight: bolder;
    float: left;
}

.communitySelect_header_search {
    float: left;
}

.communitySelect_header_city_icon {
    font-size: .12rem;
    color: #888;
    margin-left: .1rem;
}