.successPage_wrapper {
    background-color: #fff;
    padding: .5rem 0;
}

.successPage_icon{
    position: relative;
    left: 50%;
    margin-left: -.5rem;
    color: #108ee9;
    text-align: center;
    font-size: 1rem;
}

.successPage_title {
    margin-top: .15rem;
    text-align: center;
    font-size: .21rem;
}

.successPage_jumpWrapper {
    margin-top: .30rem;
    text-align: center;
}

.successPage_jumptoHouseList {
    color: #108ee9;
    margin-left: .1rem;
}